name: Security Scan
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  security-scan:
    permissions:
      issues: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Run Socket Basics
        uses: SocketDev/socket-basics@1.0.29
        env:
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number || github.event.issue.number }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          socket_org: 'erika-s-org'
          socket_security_api_key: ${{ secrets.SOCKET_SECURITY_API_KEY }}
          javascript_sast_enabled: 'true'
          secret_scanning_enabled: 'true'
          socket_tier_1_enabled: 'true'
          console_tabular_enabled: 'true'